<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/img/slide.png" alt="Propaganda">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/slide2.png" alt="Propaganda 2">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/slide3.png" alt="Propaganda 3">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<main class="column center h-center home">
  <h1 class="titulo">Principais ofertas da semana</h1>

  <div class="f-row wrap box-produtos">

    <div class="column column card-produto">
      <div class="f-row produto">
        <img src="../../assets/img/sanduicheira.png" alt="Produto">
      </div>
      <div class="column informacao-produto">
        <p class="nome-p">Sanduicheira</p>
        <p class="preco-p">R$: 75,90</p>
      </div>
    </div>

    <div class="column card-produto">
      <div class="f-row produto">
        <img src="../../assets/img/sanduicheira.png" alt="Produto">
      </div>
      <div class="column informacao-produto">
        <p class="nome-p">Sanduicheira</p>
        <p class="preco-p">R$: 75,90</p>
      </div>
    </div>

    <div class="column card-produto">
      <div class="f-row produto">
        <img src="../../assets/img/sanduicheira.png" alt="Produto">
      </div>
      <div class="column informacao-produto">
        <p class="nome-p">Sanduicheira</p>
        <p class="preco-p">R$: 75,90</p>
      </div>
    </div>

    <div class="column card-produto">
      <div class="f-row produto">
        <img src="../../assets/img/sanduicheira.png" alt="Produto">
      </div>
      <div class="column informacao-produto">
        <p class="nome-p">Sanduicheira</p>
        <p class="preco-p">R$: 75,90</p>
      </div>
    </div>

    <div class="column card-produto">
      <div class="f-row produto">
        <img src="../../assets/img/sanduicheira.png" alt="Produto">
      </div>
      <div class="column informacao-produto">
        <p class="nome-p">Sanduicheira</p>
        <p class="preco-p">R$: 75,90</p>
      </div>
    </div>
  </div>
  <div class="pagination">
    <a href="#">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a class="active" href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</main>
