.box-produtos {
    justify-content: space-around;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.card-produto {
    align-items: center;
    height: 260px;
    width: 225px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    margin: 6px;
    border-radius: 3px;
	  border: #f7f7f7 1px solid;
    background-color: #fff;
    padding-top: 10px;
}
.produto {
    width: 100%;
    height: 170px;
    justify-content: center;
}


.informacao-produto {
    width: 100%;
    height: 80px;
    text-align: center;
}



.nome-p {
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
}
.preco-p {
    margin: 0;
    margin-top: 5px;
    font-weight: 700;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

@media (max-width:550px) {
  .produto img {
    width: 80%;
    height: 80%;
    margin-top: 7px;
  }

  .box-produtos {
      margin-top: 5px;
      padding: 0;
      margin: 0;
  }
  .card-produto {
    height: 230px;
    width: 160px;
    margin-bottom: 5px;
    padding: 5px;
  }
}






/* PAGINAÇÃO DOS CARDS */
.pagination {
    margin: 25px;
    border-radius: 20px;
}
.pagination a {
    color: #424242;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.pagination i {
    color: #424242;
}
.pagination a.active {
    background-color: #094173;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #e8eaf6;
}




