<h1 class="titulo">Carrinho</h1>
<main class="f-row center carrinho">
		<section class="column carrinho-compra">
			<ul class="column ul-carrinho">

				<li class="f-row lista-carrinho">
					<div class="ilustracao">
						<img src="../../assets/img/photo.png">
					</div>

					<div class="detalhes">
						<div class="f-row card-produto">
							<p class="p-descricao">Nome</p><i class="fa fa-times"></i>
						</div>

						<div class="f-row card-descricao">
							<p class="p-valor">R$: 00,00</p>
							<form class="form">
								<button class="btn-icone"><i class="fa fa-minus"></i></button>
								<input type="number">
								 <button class="btn-icone"><i class="fa fa-plus"></i></button>
							</form>
						</div>
					</div>
				</li>

        <li class="f-row lista-carrinho">
					<div class="ilustracao">
						<img src="../../assets/img/photo.png">
					</div>

					<div class="detalhes">
						<div class="f-row card-produto">
							<p class="p-descricao">Nome</p><i class="fa fa-times"></i>
						</div>

						<div class="f-row card-descricao">
							<p class="p-valor">R$: 00,00</p>
							<form class="form">
								 <button class="btn-icone"><i class="fa fa-minus"></i></button>
								<input type="number">
								 <button class="btn-icone"><i class="fa fa-plus"></i></button>
							</form>
						</div>
					</div>
				</li>


				<li class="f-row lista-carrinho">
					<div class="ilustracao">
						<img src="../../assets/img/photo.png">
					</div>

					<div class="detalhes">
						<div class="f-row card-produto">
							<p class="p-descricao">Nome</p><i class="fa fa-times"></i>
						</div>

						<div class="f-row card-descricao">
							<p class="p-valor">R$: 00,00</p>
							<form class="form">
								 <button class="btn-icone"><i class="fa fa-minus"></i></button>
                <input type="number">
                 <button class="btn-icone"><i class="fa fa-plus"></i></button>
							</form>
						</div>
					</div>
				</li>





			</ul>
		</section>

		<aside class="column h-center carrinho-descricao">
			<div class="resumo-compra">
        <p class="resumo-titulo">Resumo da compra</p>
        <ul class="lista-resumo">
          <li class="f-row">
            <i class="fa fa-shopping-basket"></i>
            <p>Quantidade de ítens: <span class="valores">0</span></p>
          </li>

          <li class="f-row">
            <i class="fa fa-truck"></i>
            <p>CEP de entrega: <span class="valores">00000-000</span></p>
          </li>

          <li  class="f-row">
            <i class="fa fa-credit-card"></i>
            <p>Valor do frete: <span class="valores">R$: 00,00 </span></p>
          </li>


          <li class="total">
            <p>Total da compra: <span class="valores">R$: 00,00</span></p>
          </li>
        </ul>
      </div>
		</aside>

	</main>
