.carrinho {
	height: 100%;
	width: 100%;
	height: 100%;
  margin-bottom: 6%;
}

.carrinho .titulo {
  margin-top: 1%;
}

.carrinho-compra {
	width: 60%;
}

.carrinho-descricao{
	width: 35%;
}


.card-descricao, .card-produto{
	width: 100%;
	padding: 5px;
}

.card-descricao {
	justify-content: center;
  padding-bottom: 25px;
}

.p-valor{
  font-weight: bold;
  width: 30%;
  margin-top: 17px;
}

.card-produto{
	justify-content: space-between;
  margin-top: 5px;
  padding-right: 10px;
}

.card-produto i {
  color: #094173;
  cursor: pointer;
}

.p-descricao {
  padding: 5px;
  margin-left: 10px;
}


.lista-carrinho{
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	margin: 1% 2%;
  border-radius: 2px;
  padding-left: 15px;
  padding-top: 15px;
}

.resumo-compra{
  width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  background-color: #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	margin: 0% 2%;
  border-radius: 2px;
  color: #3f3f3f;
}


.ilustracao {
  width: 143px;
  height: 120px;
}

.ilustracao img {
	width: 100%;
	height: 100%;
}

.detalhes {
	width: 100%;
}

.carrinho .form input {
  text-align: center;
  width: 17%;
}

.carrinho .form i {
  color: #094173;
  padding: 5px;
}

.resumo-titulo {
  text-align: center;
  font-weight: 700;
}

.lista-resumo{
  padding: 5px;
}

.lista-resumo li {
  padding: 10px;
}

.lista-resumo i {
  padding: 5px;
  margin-right: 10px;
  color:#50799e;
}

.total {
  border-top: 1px solid #e1e1e1;
  padding: 25px;
}

@media (max-width: 750px){
  .carrinho{
    flex-direction: column;
    align-items: center;
  }

  .carrinho-compra {
    width: 90%;
  }

  .carrinho-descricao{
    width: 90%;
  }

  .resumo-compra{
    width: 90%;
    position: relative;
    background-color: #fff;
    border: solid 1px #ccc;
    margin: 1% 2%;

  }
}
