
<main class="column center h-center cadastro-produto">
    <div class="box-form">
      <h1 class="titulo">Vender</h1>
      <form class="column center form">
        <legend>Descreva seu produto</legend>
        <div class="f-row h-center cadastro-produto">
          <div class="column h-center desc-imagem">
            <label for="nova-imagem" class="label-imagem" >Imagem para o produto</label>
            <div class="img-produto">
              <img src="#" alt="">
            </div>

            <div class="inputFile">
              <span>Adicionar Imagem</span>
              <input type="file" name="arquivo" id="arquivo" accept="image/*">
            </div>
          </div>

          <div class="column desc-produto">
            <label for="nome-produto">Nome</label> <input type="text" name="" id="nome-produto">
            <label for="descricao-produto">Descrição</label> <textarea name="" id="descricao-produto" rows="3"></textarea>

            <label for="quant-produto">Quantidade</label> <input type="number" name="" id="quant-produto">
            <label for="valor-produto">Valor</label> <input type="number" name="" id="valor-produto">
          </div>
        </div>
          <button class="center s-center btn-confirm">Cadastrar produto</button>

      </form>

    </div>
	</main>
