.cadastro-produto .box-form{
  width: 80%;
  margin: 20px;
  padding: 20px;
}

.desc-produto, .desc-imagem{
  width: 50%;
}

.label-imagem {
  text-align: center;
}

.cadastro-produto .btn-confirm {
  margin: 15px;
  width: 170px;
}




.inputFile {
		  margin-top: 17px;
      margin-bottom: 20px;
      width: 160px;
      height: 34px;
      position: relative;
      overflow: hidden;
      color: white;
      border-radius: 4px;
      font-weight: bold;
      background: #094173;
      border: 1px solid #094173;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		}
		.inputFile span {
			display: block;
			position: absolute;
			padding-top: 5px;
			padding-left: 12px;
		}
		.inputFile input {
			position: absolute;
			right: 0;
			z-index: 2;
			font-size: 100px; /* Aumenta tamanho do campo */
			opacity: 0;
			filter: alpha(opacity=0);
		}



.img-produto {
	border: 5px solid #f1f3ff;
    width: 240px;
    height: 150px;
    background-image: url(../../assets/img/photo.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.1);
    margin: 4px;
}

.img-produto {
    width: 200px;
    height: 200px;
}

@media (max-width: 700px) {
  .cadastro-produto .box-form{
    width: 90%;
    margin: 20px;
    padding: 20px;
  }
	.cadastro-produto{
		flex-direction: column;
	}

  .label-imagem {
    margin-top: 30px;
  }

	.cadastro-produto input, textarea{
		width: 100%;
	}

  .cadastro-produto .btn-confirm {
     width: 177px;
  }

	.f-produto {
		width: 80%;
	}

  .desc-produto, .desc-imagem{
    width: 70%;
  }
}
