/* ---------------- ALTERAÇÕES DE TAGS GLOBAIS ---------------- */
body {margin:0; font-family: 'Roboto', sans-serif;}
html { width: 100%; height: 100%; }

p, ul {
	margin: 0;
	padding: 0;
  font-size: 1.1em;
	list-style-type: none;
}

input, textarea, select {
	padding: 5px;
	resize: none;
	font-size: 1.1em;
	outline: none;
}
button {
	margin: 5px;
	padding: 7px;
	border: none;
	outline: none;
	border-radius: 4px;
	font-weight: bold;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  cursor: -webkit-pointer;
  cursor: pointer;
}

button:focus{
  outline: none;
}
form{
  margin:0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	transition: 0.3s;
}





/* ---------------- DIREÇÃO DO FLEX ---------------- */
.column{
	display: flex;
	flex-direction: column;
}
.f-row {
	display: flex;
	flex-direction: row;
}





/* ---------------- ALINHAR ELEMENTOS ---------------- */
.center {
	justify-content: center;
	margin: 0 auto;
}

.h-center {
	align-items: center;
}

.s-center { /* alinhar um conteúdo no centro de outro elemento*/
    align-self: center;
}

.wrap {
	flex-wrap: wrap;
}




/* ---------------- CLASSE PARA EVENTOS ---------------- */
.none {
	display: none;
}



/* ---------------- TEMPLATE 3SCOMMERCE ---------------- */
body { background-color: #F2F2F2; }

label, legend{
	padding: 5px;
	font-size: 1.1em;
	color: #3f3f3f;
}

.titulo{
	text-align: center;
  margin: 5px;
	color: #424242;
  text-shadow: 2px 2px 2px rgba(216, 216, 216, 1);
}

@media (max-width:450px) {
    .titulo { font-size: 1.6em; }
}

.btn-confirm{
	color: #fff;
	background-color: #094173;
  border: 1px solid #094173;
}

.btn-confirm:disabled{
	background-color: #fff;
    color: #094173;
    border: 1px solid #094173;
}

.box-form{ /* classe para colocar na tag anterior do form*/
	box-shadow: 1px 2px 10px 2px rgba(0,0,0,0.2);
	background-color: #fff;
	border-radius: 2px;
}

.form input, .form select, .form textarea{
  border: none;
  border-bottom: #c4ccfc solid 1.5px;
}

.form input.focus{
  border-bottom: solid 1.5px #094173;
}

label.focus{
	color: #094173;
	-ms-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	transition: transform .2s;
}

.btn-icone {
  background: none;
  box-shadow: none;
}
