.login {
    background-color: #F2F2F2;
    height: 310px;
    width: 310px;
    z-index: 1;
    position: absolute;
    transition: 0.5s;
    border: 1px #e8eaf6 solid;
    right: 10px;
    margin-top: -6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding-top: 12px;
    border-radius: 5px;
	  position: fixed;
}
.login::before {
    border: 10px solid transparent;
    border-bottom-color: #e8eaf6;
    content: "";
    top: -20px;
    right: 1.5%;
    position: absolute;
}


 .login .f-login {
    margin-top: 12px;
    width: 88%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
	  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.login f-label {
    margin-left: 3px;
}
.login input {
    width: 85%;
    padding: 3px;
}

input.checkbox {
    width: 10%;
    margin-left: 1px;
    cursor: pointer;
}
.label-senha {
    justify-content: center;
    margin-top: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

.label-senha input{
  width: 10%;
  margin-top: 3px;
}

.login .btn-confirm{
    width: 35%;
    align-self: center;
    margin-top: 6px;
    padding: 3px;
    height: 55px;
    margin-bottom: 1px;
    background-color: #4184BF;
    border-color: #4184BF
}

.f-opcoes {
    justify-content: space-around;
}
.f-opcoes a {
    color: #094173;
    font-size: 0.8em;
    padding: 10px;
	  font-weight: bold;
}
.f-opcoes a:hover {
    text-decoration: underline;
}
a#btn-user {
    padding-top: -7px;
    border: #094173  2px solid;
}
