<div class="column s-center login none">
  <form class="form column center f-login">
    <label for="email" class="f-label" >Email</label>
    <input id="email" type="email" class="s-center input-login" required>
    <label for="senha" class="f-label">Senha</label>
    <input id="senha" type="password" class="s-center input-login" required>
    <label for="conectado" class="f-row label-senha">Mantenha-me conectado
      <input id="conectado" type="checkbox" class="checkbox">
    </label>
    <button class="btn-confirm">Entrar</button>
  </form>

  <div class="f-row f-opcoes">
    <a href="">Esqueci a senha</a>
    <a routerLink="/cadastro-usuario">Cadastrar-se</a>
  </div>
</div>
