/* -------------- box opções de usuario ------------- */
.btn-op {
    flex-direction: column;
    background-color: #fff;
    height: auto;
    width: 220px;
    z-index: 1;
    position: absolute;
    border: 1px #e8eaf6 solid;
    right: 15px;
    margin-top: -6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    position: fixed;
    display: none;
}


.btn-op::before {
    border:10px solid transparent;
    border-bottom-color: #fff;
    content: "";
    top: -20px;
    right: 1.5%;
    position: absolute;
}

.btn-op.click{
	display: flex;
}

ul.lista-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: 0;
    padding: 0;
    width: 100%;
}

.lista-usuario li{
    cursor: pointer;
    border: none;
	border-bottom: 1px #f7f2f2 solid;
    padding: 10px;
    width: 100%;
}

.lista-usuario li:hover{
    background-color: #e8eaf6;
}

.lista-usuario a,
.lista-usuario a:hover,
.lista-usuario a:focus{
	text-decoration: none;
    color: #666666;
}

.lista-usuario i{
	color: #757575 ;
	font-size: 1.3em;
	padding: 4px;
	padding-right: 17px;
}
