.header {
    height: 96px;
    background-color: #094173;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2) inset;
}
.menu-opcoes {
  width: 100%;
  height: 53px;
  justify-content: space-between;
	position: fixed;
	background-color: #094173;
	z-index: 1;
}

.menu-opcoes .opcoes-usuario {
    margin-right: 5px;
    margin-top: -7px;
}

.menu-opcoes li {
    margin-top: -5px;
}
.menu-opcoes a {
    color: white;
}
.menu-opcoes a.logo {
    align-self: center;
    width: 200px;
    margin-left: 20px;
}
img.logo {
    align-self: center;
    width: 200px;
}
.opcoes-usuario {
    justify-content: right;
}
.opcoes-usuario a {
    padding: 10px;
    border: #094173  2px solid;
}
.opcoes-usuario i {
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
    padding-top: 4px;
}
#btn-user {
    margin-left: 10px;
}
.busca {
    width: 50%;
    height: 53px;
    display: flex;
}
.busca .btn-busca {
    position: absolute;
    margin: 13px 5px 0px 14px;
    cursor: pointer;
}
.busca i {
    font-size: 1.2em;
    color: #3f51b5;
    align-self: center;
    padding-top: 2px;
}

.fechar {
  display: none;
}
input.input-busca {
    height: 41px;
    width: 550px;
    border:none;
    border-radius: 10px;
    padding: 6px;
    padding-left: 50px;
    align-self: center;
    font-size: 15px;
}
.navegacao {
    height: 33px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #094173;
	  margin-top: 52px;
}
.navegacao ul.itens-navegacao {
    display: flex;
    align-items: center;
    margin: 0;
}
.navegacao li {
	border-right: 1px #e3f2fd solid;
}
.navegacao li:last-child {
    list-style-type: none;
	border: none;
}
.navegacao i {
    font-size: 40px;
    margin: 0;
    color: #FFF;
}
.itens-navegacao {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.itens-navegacao a {
    padding: 7px;
    color: #c7e2ff;
    font-size: 15px;
    text-decoration: none;
}
.itens-navegacao li:hover, .itens-navegacao a:hover,
.itens-navegacao li:focus, .itens-navegacao a:focus{
  color: #fff;
	transition: 0.3s;
	text-decoration: none;
}


@media (max-width:450px) {
    .navegacao {
        height: 65px;
        font-size: 1em;
    }

    .itens-navegacao {
        padding: 0;
    }
}

@media (max-width:550px) {
	.busca{
		align-items: center;
		justify-content: center;
	}
	.busca .btn-busca{
		margin:0;
		margin-top: -3px;
		align-self: center;
	}
	.btn-busca i {
		color: #fff;
		font-size: 24px;
		padding: 0;
	}

	i.fechar {
		font-size: 1em;
		color:#094173;
		position: absolute;
		z-index: 1;
		right: 5%;
		display: none;
	}

	input.input-busca{
		display: none;
		border-radius: 2px;
	}
	input.input-busca.input-focus{
		position: absolute;
    width: 93%;
    left: 3.5%;
    padding-left: 10px;
	}
	.opcoes-usuario i {
		font-size: 24px;
	}
    .menu-opcoes.ok {
		opacity: 0;
	}
	.menu-opcoes ul.opcoes-usuario {
		padding: 0;
	    padding-right: 1%;
	}

  .box-user {
		right: 25px;
	}
}
@media (min-width:550px) and (max-width:700px) {
	.busca {
		justify-content: center;
	}
	.busca .btn-busca{
		margin-left: -108px;
	}
	.busca i {
		color: #094173;
	}
	input.input-busca{
		border-radius: 3px;
		width: 255px;
		align-self: center;
		padding-left: 32px;
	}
	.menu-opcoes ul.opcoes-usuario{
		padding: 0;
	}
}
@media (max-width:1000px) {
	.logo img {
		width: 160px;
	}
}
