<header class="column header">
  <div class="f-row h-center menu-opcoes">
    <a routerLink="/" class="logo">
      <img src="../../assets/img/logo-menu2.png" alt="3sCommerce"> 
    </a>

    <div class="busca">
      <a href="#" class="btn-busca" title="Fazer uma pesquisa"> <i class="fa fa-search"></i> </a>
      <input type="text" placeholder="Digite a sua pesquisa..." class="input-busca">
      <i class="fa fa-close fechar"></i>
    </div>


    <ul class="f-row h-center opcoes-usuario">
      <li>
        <button class="btn-icone" title="Carrinho de compras" routerLink="carrinho-compras">
           <i class="fa fa-shopping-cart"></i>
        </button>
      </li>
      <li>

        <button class="btn-icone"  id="btn-user" title="Opções de usuário">
          <i class="fa fa-user"></i>
        </button>
      </li>
    </ul>
  </div>

  <nav class="navegacao">
    <ul class="itens-navegacao">
      <li>
        <a href="#" title="Navegar por categorias">Categorias</a>
      </li>
      <li>
        <a href="#" title="Navegar por produtos recomendados">Recomendados</a>
      </li>
      <li>
        <a href="#" title="Navegar pelas ofertas da semana">Ofertas</a>
      </li>
      <li>
        <a href="#" title="Vender um produto" routerLink="cadastro-produto">Vender</a>
      </li>
    </ul>
    <app-login></app-login>
  </nav>
</header>
