.rodape {
	background-color: #094173;
}
.navegacao {
	background-color: #094173;
	padding-bottom: 8px;
	justify-content: space-around;
  width: 100%;
  padding-left: 4%;
}
.navegacao ul{
	width: 180px;
	margin: 5px;
	padding: 6px;
}
.navegacao li {
	list-style-type: none;
	padding: 2px;
}
.navegacao li:first-child{
	font-weight: bold;
	margin-bottom: 3px;
	font-size: 1em;
	color: #fff;
}
.navegacao a {
	color: #9fc1e2;
	text-decoration: none;
	font-size: 0.9em;
}
.navegacao a:hover{
	color: #e8eaf6;
	transition: 0.4s;
}
.copyright{
	align-items: center;
	background-color: #0a3254;
	height: 45px;
	padding: 3px;
	margin: 0;
}
.copyright p{
	color: #7986cb;
}
.copyright a{
	color: #7986cb;
	padding: 1px;
	font-weight: bold;
	font-size: 0.9em;
}
.copyright a:hover{
	color: #c5cae9;
	transition: 0.4s;
}

@media (max-width: 600px){
  .navegacao ul{
    width: 152px;
  }
}
