<footer class="rodape">
  <div class="row wrap navegacao">
    <ul class="">
      <li>Usuário</li>
      <li>
        <a href="#">Meu perfil</a>
      </li>
      <li>
        <a href="#">Minhas compras</a>
      </li>
      <li>
        <a href="#">Minhas vendas</a>
      </li>
    </ul>

    <ul class="">
      <li>Navegar</li>
      <li>
        <a href="#">Categorias</a>
      </li>
      <li>
        <a href="#">Ofertas da semana</a>
      </li>
      <li>
        <a href="#">Recomendados</a>
      </li>
      <li>
        <a href="#" routerLink="cadastro-produto">Vender</a>
      </li>
    </ul>

    <ul class="">
      <li>Informações</li>
      <li>
        <a href="#">Suporte</a>
      </li>
      <li>
        <a href="#">Como anunciar</a>
      </li>
      <li>
        <a href="#">Segurança</a>
      </li>
      <li>
        <a href="#">Formas de Pagamento</a>
      </li>

    </ul>

    <ul class="">
      <li>3sCommerce</li>
      <li>
        <a href="#">Termos de Uso</a>
      </li>
      <li>
        <a href="#">Trabalhe Conosco</a>
      </li>
      <li>
        <a href="#">Fale Conosco</a>
      </li>
      <li>
        <a href="#">Certificados</a>
      </li>
    </ul>
  </div>

  <div class="row center copyright">
    <p>© 2017 - 2018
      <a href="../../index.html">3sCommerce</a> All rights reserved.</p>
  </div>
</footer>
