<main class="center h-center novo-usuario">
    <section class="center h-center box-form">
      <h1 class="titulo">Cadastre-se</h1>
      <form name="formulario" class="column center form">
        <label class="form-label">Nome Completo</label>
        <input type="text" required class="form-input">
        <label class="form-label">Email</label>
        <input type="email" required class="form-input">
        <label class="form-label">Telefone</label>
        <input type="text" required class="form-input">
        <label class="form-label">Nova Senha</label>
        <input type="password" required class="form-input">
        <label class="form-label">Confirmação de senha</label>
        <input type="password" required class="form-input">
        <button class="s-center btn-confirm">Enviar</button>
      </form>
    </section>
</main>
