.novo-usuario .box-form {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px;
  padding-top: 20px;
}

/* --------------- FORM ------------------- */
.novo-usuario .form{
	width: 70%;
}


.novo-usuario .btn-confirm {
	padding: 10px;
	margin: 17px;
	width: 27%;
}



@media (min-width: 660px) and (max-width: 1000px){
    .novo-usuario form { width: 60%; }
}
@media (max-width:660px) {
	.novo-usuario form { width: 80%; }
	.novo-usuario form button { width: 40%; }
}

